body{
    width: 100%;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

li.annee {
    list-style-type: none;
    font-weight: bold;
    margin-bottom: 10px;
}

ul{
    margin-bottom: 20px;
}

.skill li{
    display: inline;
margin-left: 20px;}